<% reset_password_link = "http://localhost:5173/new_password?reset_token=#{@token}" %>
<%= link_to reset_password_link do %>
   <button class="new-password-button">
     Choose a new password
   </button>
<% end %>
